extends main
block content
  .container.gallery-container
    div
    if !user
      h2 Our Famous Cupcakes
      .tz-gallery
        .row
          for items in Cupcakes
            .col-sm-6.col-md-4
              .thumbnail
                a(href=items.url)
                  img(src= items.imagePath)
                .caption 
                  h3= items.name        
                  h6 Price: #{p=items.price}
                  p Single
                  a.btn.btn-primary(href="/Cupcakes/cart/"+items._id, role="button") Add to Cart
    else if user.admin    
        h2 Our Famous Cupcakes
        a.btn.btn-info(href="/Cupcakes/addItem", role="button") Add item
        .tz-gallery
          .row
            for items in Cupcakes
              .col-sm-6.col-md-4
                .thumbnail
                  a(href=items.url)
                    img(src= items.imagePath)
                  .caption 
                    h3= items.name        
                    h6 Price: #{p=items.price}
                    p Single
                    a.btn.btn-warning(href="/Cupcakes/updateItem/"+items._id, role="button") Update
                    a.btn.btn-danger(href="/Cupcakes/deleteItem/"+items._id,role="button") Delete
    else 
      h2 Our Famous Cupcakes
      .tz-gallery
        .row
          for items in Cupcakes
            .col-sm-6.col-md-4
              .thumbnail
                a(href=items.url)
                  img(src= items.imagePath)
                .caption 
                  h3= items.name        
                  h6 Price: #{p=items.price}
                  p Single
                  a.btn.btn-primary(href="/Cupcakes/cart/"+items._id, role="button") Add to Cart
